body
{
text-align: center;
}
section
{
width:1000px;
margin:15px auto;
border:1px solid;
border-radius: 10px;
padding:10px 20px;
padding-right:0px;
}
#top
{
width:1000px;
margin:15px auto;
text-align:left;
}
#header
{
color:maroon;
border:2px solid;
border-radius: 10px;
background-color:#DAA520;
width:100%;
height:30px;
padding-left:10px;
padding-bottom:110px;
}
#s1
{
width:950px;
margin:10px 10px;
border:2px solid;
border-radius: 10px;
background-color:green;
}
#s2
{
text-align:center;
}
#s3
{
background-color:#DAA520;
}